@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">CRUD de Estudiantes</h1>
    <p>Proyecto en ASP.NET Core MVC.</p>
    <a class="btn btn-primary" asp-controller="Students" asp-action="Index">Ir al módulo de estudiantes</a>
</div>